#wrap
  .container
    = form_with scope: @question, local: true, url: questions_url, method: 'POST', authenticity_token: true do |f|
      .row.question-type 
        = f.select :type, [['Multiple Choice', 'MultipleChoice'], ['True or False', 'TrueOrFalse']]
      .row
        = f.text_field :body, placeholder: 'body'
      .row.multiple-choice
        .row
          = f.radio_button :correct_answer, value: 0
          = f.text_field :choice_1, placeholder: 'Choice 1'
        .row
          = f.radio_button :correct_answer, value: 1
          = f.text_field :choice_2, placeholder: 'Choice 2'
        .row
          = f.radio_button :correct_answer, value: 2
          = f.text_field :choice_3, placeholder: 'Choice 3'
        .row
          = f.radio_button :correct_answer, value: 3
          = f.text_field :choice_4, placeholder: 'Choice 4'
      %br
      .row.true-or-false
        %span.choice-label True
        = f.radio_button :correct_answer, value: 0 
        %span.choice-label False 
        = f.radio_button :correct_answer, value: 1
      %br
      = f.submit 'Create New Question', class: 'btn-teal'