.hr
  #wrap
    .container
      .row
        .col.session-container
          %div.shadow-logo
            = link_to "Shadow Trivia", categories_url 
          .session-box
            .flash-container
              = render 'shared/flash_message'
            = form_with scope: :user, local: true, url: session_url, method: 'POST', authenticity_token: true do |f|
              .form-group.row
                .session-label Email
                = f.text_field :email, type: 'email', autofocus: 'autofocus', placeholder: 'Your email address...'
              .form-group.row
                .session-label Password
                = f.password_field :password, placeholder: 'Your password...'  
              .form-group.row
                .session-submit
                  = f.submit 'Sign In', class: 'btn-teal'
              .row
                %h3.text-center.strong Don't have an account?
                %h4.text-center Register for a #{link_to 'User Account', new_user_url, class: 'strong' } or
                %h4.text-center Proceed as a #{link_to 'Guest', categories_url, class: 'strong'}