%div 
  = "This is a temporary homepage"
 
Your name is: #{current_user.first_name}

%br
-if current_user.logged_in?
  = link_to "Log out", session_url, method: "DELETE"
-if !current_user.logged_in?
  = link_to "Sign up", new_user_url
  %br
  = link_to " Sign in", new_session_url