%nav.navbar
  .navbar-inner
    .container
      .logo
        = link_to image_tag(shadow_trivia_logo), categories_url
      .nav-item
        = link_to 'Leaderboard', categories_url
      .nav-item.drop
        %a
          %i.fas.fa-chevron-down
          Browse
        = render 'shared/nav_drop_down'
      .welcome
        %strong
          %i.fas.fa-user
          #{current_user.first_name} #{current_user.last_name} /
        - if current_user.logged_in?
          %strong
            = link_to 'Sign Out', session_url, method: 'DELETE', id: 'orange'
        - else 
          %strong
            = link_to 'Sign In', new_session_url, id: 'orange'
            #{' / '}
            = link_to 'Register', new_user_url, id: 'teal'
.hr